/* components/Header.css */
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(14, 154, 159); 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(1, 127, 134, 0.177); /* Add a box shadow to give the header some depth */
  
    /* Optional: If you want the header to be always on top of other elements */
    z-index: 999;
  }
  
  nav ul {
    list-style: none;
    margin: 10;
    padding: 0;
    text-align: right; /* Align the list items to the right */
  }
  
  nav li {
    display: inline-block;
    margin-left: 10px; /* Add some space between the list items */
  }
  
  nav li a {
    display: block;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder; /* Make the text bold */
    color: whitesmoke; /* Set the default text color */
    transition: color 0.3s; /* Add a smooth transition effect for the color change */
  }
  
  nav li a:hover {
    color: #00cc00; /* Change the text color to green on hover */
  }
  
  