/* components/Header.css */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(14, 154, 159);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(1, 127, 134, 0.177);
  z-index: 999;
}

/* Add padding to the top of the nav element */
nav {
  padding-top: 50px; /* Adjust the value as needed to create enough space below the header */
}

/* Optional: Style the nav items as needed */
nav li {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

  nav li a {
    display: block;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder; /* Make the text bold */
    color: whitesmoke; /* Set the default text color */
    transition: color 0.3s; /* Add a smooth transition effect for the color change */
  }
  
  nav li a:hover {
    color: #00ccb8; /* Change the text color to green on hover */
  }
  
  